
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(0, #D64E86,#04AFBC, #D64E86);
}

.font-kalnia-400 {
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.font-kalnia-300 {
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

